<html xmlns:th="http://www.thymeleaf.org" lang="vn">
<div th:fragment="account-table" class="tab-pane fade show active" id="home-justified" role="tabpanel"
     aria-labelledby="home-tab">
    <div class="card">
        <div class="card-body" style="max-height: 50vh; overflow-y: auto;">
            <table class="table table-bordered table-striped">
                <thead class="table-success">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Account</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Creator</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Creation Date</th>
                </tr>
                </thead>
                <tbody id="myTableBody">
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>