<html xmlns:th="http://www.thymeleaf.org" lang="vn">
<div th:fragment="role-detail" class="col-lg-4 d-none" id="detail">
  <div class="card accordion-item">
    <div class="card-body">
      <div class="col d-flex align-items-center justify-content-between">
        <h2 class="card-title mb-0 me-2">Detail</h2>
        <div class="d-flex justify-content-end">
          <button id="open-update-modal-btn" class="btn btn-outline-info btn-icon btn-sm me-1"
                  data-bs-toggle="modal" data-bs-target="#popup-update">
            <i class="ri-pencil-fill fs-5"></i>
          </button>
          <button id="delete-account-btn" class="btn btn-outline-danger btn-icon btn-sm me-1"
                  data-bs-toggle="modal" data-bs-target="#delete-account-popup">
            <i class="ri-delete-bin-fill fs-5"></i>
          </button>
          <button data-bs-toggle="modal" class="btn btn-outline-secondary btn-icon btn-sm"
                  onclick="hideDetailPanel()">
            <i class="bi bi-arrow-bar-right fs-5"></i>
          </button>
        </div>
      </div>

      <div style=" overflow-y: auto; border: 1px solid #ccc; padding: 10px; height: 80vh">
        <div class="row g-3" id="view-detail">
          <div>
            <label for="detail-id" class="d-none"></label>
            <input type="text" class="form-control" id="detail-id" hidden="hidden" disabled/>
          </div>
          <div class="col-12">
            <label for="detail-name" class="form-label">Role</label>
            <input type="text" class="form-control" id="detail-name" disabled/>
          </div>
          <div class="col-12">
            <label for="detail-code" class="form-label">Code</label>
            <input type="text" class="form-control" id="detail-code" disabled/>
          </div>
          <div class="col-12">
            <label for="detail-description" class="form-label">Description</label>
            <input type="text" class="form-control" id="detail-description" disabled/>
          </div>
          <div class="col-12">
            <label for="detail-permissions" class="form-label">Permission</label>
            <div id="detail-permissions"></div>
          </div>
          <div class="col-12">
            <label for="detail-is-default" class="form-label">Default</label>
            <input type="text" class="form-control" id="detail-is-default" disabled/>
          </div>
          <div class="col-12">
            <label for="detail-is-delete" class="form-label">Active Status</label>
            <input type="text" class="form-control" id="detail-is-delete" disabled/>
          </div>
          <div class="col-12">
            <label for="inputAuthor" class="form-label">Creator</label>
            <input type="text" class="form-control" id="inputAuthor" disabled/>
          </div>
          <div class="col-12">
            <label for="inputCreateAt" class="form-label">Creation Date</label>
            <input type="text" class="form-control" id="inputCreateAt" disabled/>
          </div>
          <div class="col-12">
            <label for="inputUpdater" class="form-label">Recent Updater</label>
            <input type="text" class="form-control" id="inputUpdater" disabled/>
          </div>
          <div class="col-12">
            <label for="inputUpdateAt" class="form-label">Recent Update's Date</label>
            <input type="text" class="form-control" id="inputUpdateAt" disabled/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--    Popup xác nhận xóa  -->
  <div th:replace="~{/fragments/components/confirm-delete-popup :: confirm-delete-popup(
    name = 'người dùng', popupId = 'delete-account-popup', onclick = 'deleteAccount()')}"></div>
</div>
</html>