<html xmlns:th="http://www.thymeleaf.org" lang="vn">
<script th:fragment="delete-account" th:inline="javascript">
    async function deleteAccount() {
        const userId = document.getElementById("detail-id").value;

        let url = "/v1/api/users/" + userId;

        await callApi(url, {
            method: 'DELETE',
        }, (res) => {
            showSuccessDialog(res.data.message)
            handleFilter()
            viewDetail(userId);
        });
    }

    async function restoreAccount() {
        const userId = document.getElementById("detail-id").value;

        let url = `/v1/api/users/${userId}/restore`;

        await callApi(url, {
            method: 'POST',
        }, (res) => {
            showSuccessDialog(res.message)
            handleFilter()
            viewDetail(userId);
        });

        closeAllModals();
    }
</script>
</html>