<html xmlns:th="http://www.thymeleaf.org" lang="vn">
<script th:fragment="change-password" th:inline="javascript">
    (function () {
        'use strict'

        document.getElementById('profile-retyped-password').addEventListener('input', (e) => {
            if (e.target.value.trim() === "")
                return;

            const newPassword = document.getElementById('profile-new-password').value
            const feedback = document.getElementById('change-password-feedback')
            if (e.target.value !== newPassword) {
                feedback.innerText = 'Mật khẩu không trùng khớp'
                feedback.classList.remove('d-none')
            } else {
                feedback.classList.add('d-none')
            }
        })

        document.getElementById('change-password-btn').addEventListener('click', async (e) => {
            e.preventDefault();

            const form = document.getElementById('change-password-form');

            // Lấy dữ liệu form
            let fetchBody = {}
            const formData = new FormData(form);
            formData.forEach((value, key) => fetchBody[key] = value);

            if (fetchBody['newPassword'] === fetchBody['oldPassword']) {
                const feedback = document.getElementById('change-password-feedback')
                feedback.innerText = 'Mật khẩu mới không được giống với mật khẩu cũ'
                feedback.classList.remove('d-none')
                return;
            }

            if (fetchBody['newPassword'] !== document.getElementById('profile-retyped-password').value) {
                const feedback = document.getElementById('change-password-feedback')
                feedback.innerText = 'Mật khẩu không trùng khớp'
                feedback.classList.remove('d-none')
                return;
            }

            try {
                await callApi('/v1/api/users/current/change-password', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(fetchBody)
                    }
                    , (data) => {
                        deleteCookie("rememberMe");
                        deleteCookie("token");
                        deleteCookie("refreshToken");

                        window.location.href = "/login"
                        showSuccessDialog(data.message)
                    });
            } catch (err) {
                // đã show toast lỗi trong callApi; vẫn có thể xử lý thêm ở đây nếu cần
            }
        });
    })();
</script>
</html>