<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vn">
<footer th:fragment="footer" class="footer-area">
    <div th:insert="~{fragments/banner-footer :: banner-footer}"></div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                <!-- Footer Social Info -->
                <div class="footer-social-info text-right"></div>
                <!-- Footer Logo -->
                <div class="footer-logo">
                    <a href="/">
                        <img src="" alt="">
                    </a>
                </div>

                <div class="footer-admin-unit d-flex flex-column align-items-center text-center">
                    <img src="" alt="">
                    <div class="admin-unit-name"></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area Start ##### -->
</html>