<html xmlns:th="http://www.thymeleaf.org" lang="vn">
<div th:fragment="change-password-tab" class="tab-pane fade pt-3" id="profile-change-password">
    <form id="change-password-form">
        <div class="row mb-3">
            <label for="profile-current-password" class="col-md-5 col-lg-3 col-form-label">
                Current Password
            </label>
            <div class="col-md-7 col-lg-9">
                <input name="oldPassword" type="password" class="form-control"
                       id="profile-current-password">
            </div>
        </div>
        <div class="row mb-3">
            <label for="profile-new-password" class="col-md-5 col-lg-3 col-form-label">
                New Password
            </label>
            <div class="col-md-7 col-lg-9">
                <input name="newPassword" type="password" class="form-control"
                       id="profile-new-password">
            </div>
        </div>
        <div class="row mb-3">
            <label for="profile-retyped-password" class="col-md-5 col-lg-3 col-form-label">
                Retype New Password
            </label>
            <div class="col-md-7 col-lg-9">
                <input type="password" class="form-control" id="profile-retyped-password">
            </div>
        </div>
        <div class="row mb-3">
            <p id="change-password-feedback" class="text-danger d-none"></p>
        </div>
        <div class="text-center">
            <button id="change-password-btn" type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </form>
    <script th:replace="~{fragments/profile/javascripts/change-password :: change-password}"></script>
</div>
</html>