<html xmlns:th="http://www.thymeleaf.org" lang="vn">
<main th:fragment="profile" id="main" class="main">
    <div class="page-title">
        <h1>Profile</h1>
    </div>
    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div th:replace="~{/fragments/profile/profile-detail :: profile-detail}"></div>
            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit">
                                    Update Account
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">
                                    Change Password
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">
                            <div th:replace="~{/fragments/profile/profile-update-tab :: profile-update-tab}"></div>
                            <div th:replace="~{/fragments/profile/change-password-tab :: change-password-tab}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</html>
