<html xmlns:th="http://www.thymeleaf.org" lang="vn">
<div th:fragment="add-account-popup" class="modal fade clearfix" id="popup-new" tabindex="-1"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-content modal-dialog modal-lg">
        <div class="modal-body">
            <h2 class="card-title mb-0 me-2">Thêm mới</h2>
            <form id="form-new" class="row g-3">
                <div class="col-12">
                    <label for="input-username-new" class="form-label">Account</label>
                    <input type="text" name="username" class="form-control" id="input-username-new">
                    <div class="invalid-feedback" id="invalid-feedback-input-username-new">Username is missing</div>
                </div>
                <div class="col-12">
                    <label for="input-fullName-new" class="form-label">Name</label>
                    <input type="text" name="fullName" class="form-control" id="input-fullName-new">
                    <div class="invalid-feedback" id="invalid-feedback-input-fullName-new">Name is missing</div>
                </div>
                <div class="col-12">
                    <label for="input-gender-new" class="form-label">Gender</label>
                    <select id="input-gender-new" name="gender" class="form-select">
                        <option value="">Choose gender</option>
                        <option value="MALE">Male</option>
                        <option value="FEMALE">Female</option>
                        <option value="OTHER">Other</option>
                    </select>
                    <div class="invalid-feedback" id="invalid-feedback-input-gender-new">Gender is missing</div>
                </div>
                <div class="col-12">
                    <label for="input-phone-new" class="form-label">Phone Number</label>
                    <input type="text" name="phone" class="form-control" id="input-phone-new">
                    <div class="invalid-feedback" id="invalid-feedback-input-phone-new">Phone number is missing</div>
                </div>
                <div class="col-12">
                    <label for="input-email-new" class="form-label">Email</label>
                    <input type="text" name="email" class="form-control" id="input-email-new">
                    <div class="invalid-feedback" id="invalid-feedback-input-email-new">Email is missing</div>
                </div>
                <div class="text-center">
                    <button id="btn-new-account" class="btn btn-primary" type="button" onclick="closeAllModals()">Add new</button>
                    <button type="button" class="btn btn-light border" onclick="closeAllModals()"><i class="bi bi-x-circle"></i> Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
</html>