<html xmlns:th="http://www.thymeleaf.org" lang="vn">
<div th:fragment="restore-account-popup"
     class="modal modal-sm fade clearfix" th:id="restore-account-popup" tabindex="-1"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Are you sure you want to restore this account ?</h6>
                <button type="button" class="btn-close" onclick="closeAllModals()" aria-label="Close"></button>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-success" onclick="restoreAccount()">Khôi phục</button>
                <button type="button" class="btn btn-light border" onclick="closeAllModals()"><i class="bi bi-x-circle"></i> Close</button>
            </div>
        </div>
    </div>
</div>
</html>