<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vn">
<div th:fragment="footer">
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="https://viettelsoftware.com/home.html">viettelsoftware</a>
        </div>
        <div id="successDialog"></div>
        <div id="errorDialog"></div>
    </footer>
</div>
</html>