<html xmlns:th="http://www.thymeleaf.org" lang="vn">
<main th:fragment="force-change-password">
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="#" class="logo d-flex align-items-center w-auto">
                                <span class="d-none d-lg-block">BếpĂnVTIT</span>
                            </a>
                        </div><!-- End Logo -->
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Đổi mật khẩu</h5>
                                    <p class="text-center small">Vui lòng hãy đổi lại mật khẩu để có thể đăng nhập
                                        lại</p>
                                </div>
                                <form id="force-change-password-form" class="row g-3 needs-validation" novalidate>
                                    <div class="col-12">
                                        <label for="oldPassword" class="form-label">Mật khẩu hiện tại</label>
                                        <div class="input-group has-validation">
                                            <input type="password" name="oldPassword" class="form-control"
                                                   id="oldPassword" required>
                                            <div class="invalid-feedback">Hãy nhập mật khẩu hiện tại của bạn!</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="newPassword" class="form-label">Mật khẩu mới</label>
                                        <input type="password" name="newPassword" class="form-control" id="newPassword"
                                               required>
                                        <div class="invalid-feedback">Hãy nhập mật khẩu của bạn!</div>
                                    </div>
                                    <div class="col-12">
                                        <label for="retypedPassword" class="form-label">Nhập lại mật khẩu</label>
                                        <input type="password" class="form-control" id="retypedPassword" required>
                                        <div class="invalid-feedback">Hãy nhập lại mật khẩu của bạn!</div>
                                    </div>
                                    <div class="col-12">
                                        <p id="change-password-feedback" class="text-danger d-none"></p>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="remember" value="true"
                                                   id="rememberMe">
                                            <label class="form-check-label" for="rememberMe">Lưu đăng nhập</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button id="force-change-password-btn" class="btn btn-primary w-100">Đổi mật
                                            khẩu
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script th:inline="javascript">
        window.addEventListener('load', () => {
            if (!getCookie("changePasswordToken")) {
                if (getCookie("token") && getCookie("refreshToken"))
                    window.location.replace("/")
                else
                    window.location.replace("/login");
            }
        })

        document.getElementById('retypedPassword').addEventListener('input', (e) => {
            if (e.target.value.trim() === "")
                return;

            const newPassword = document.getElementById('newPassword').value
            const feedback = document.getElementById('change-password-feedback')
            if (e.target.value !== newPassword) {
                feedback.innerText = 'Mật khẩu không trùng khớp'
                feedback.classList.remove('d-none')
            } else {
                feedback.classList.add('d-none')
            }
        })

        document.getElementById("force-change-password-btn").addEventListener("click", async (e) => {
            e.preventDefault();

            const changePasswordToken = getCookie("changePasswordToken")
            if (!changePasswordToken) {
                if (getCookie("token") && getCookie("refreshToken")) {
                    window.location.replace("/")
                    return;
                }
                else {
                    window.location.replace("/login");
                    return;
                }
            }


            const form = document.getElementById('force-change-password-form');

            // Lấy dữ liệu form
            let fetchBody = {}
            const formData = new FormData(form);
            formData.forEach((value, key) => fetchBody[key] = value);

            if (fetchBody['newPassword'] === fetchBody['oldPassword']) {
                const feedback = document.getElementById('change-password-feedback')
                feedback.innerText = 'Mật khẩu mới không được giống với mật khẩu cũ'
                feedback.classList.remove('d-none')
                return;
            }

            if (fetchBody['newPassword'] !== document.getElementById('retypedPassword').value) {
                const feedback = document.getElementById('change-password-feedback')
                feedback.innerText = 'Mật khẩu không trùng khớp'
                feedback.classList.remove('d-none')
                return;
            }

            try {
                const res = await fetch(domain + '/v1/api/public/force-change-password', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${changePasswordToken}`
                    },
                    body: JSON.stringify(fetchBody)
                });

                const data = await res.json();

                if (!res.ok) {
                    showErrorDialog(`${res.status} - ${res.message}`);
                    console.error("API error body:", data);
                    throw new Error(`${res.status} - ${res.message}`);
                }

                if (document.getElementById('rememberMe').checked === true) {
                    setCookie("rememberMe", true, {days: 5})
                    setCookie("token", data.data.accessToken, {maxAge: 20});
                    setCookie("refreshToken", data.data.refreshToken, {days: 5});
                } else {
                    setCookie("rememberMe", false);
                    setCookie("token", data.data.accessToken, {});
                    setCookie("refreshToken", data.data.refreshToken, {});
                }
                deleteCookie("changePasswordToken")
                window.location.replace("/");
            } catch (err) {
                showErrorDialog(err.message || 'Network or unexpected error');
                throw err;
            }
        })
    </script>
</main>
</html>