<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout " lang="en">
<head>
    <title>Thống kê Danh mục</title>
</head>
<body>
<section layout:fragment="content">
    <div th:replace="~{/fragments/category-page/category-statistic :: main}"></div>
</section>
</body>
</html>